@use "components";

.section-about-me {
  margin-top: 4rem;
  position: relative;
  background: components.$primary-color;
  height: calc(100vh - 4rem);
  z-index: -1;
  overflow: hidden;
}

.conteiner-about-me {
  display: grid;
  place-items: center;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: components.$white-color;
}

.about-me {
  position: relative;
  width: 80%;
  // height: 300px;
  padding: 0 20px;
  border-radius: 10px;
  backdrop-filter: blur(0.2rem);
  box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0,0,0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}


.background-circuit,
.about-me__circuit-mask {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.7);
  display: block;
  width: 682px;
  height: 514px;
}

.background-circuit {
  background: url(../assets/img/bg-circuito.svg);  
}

.about-me__circuit-mask {
  transform: translate(-50%, -50%) scale(1);
  display: grid;
  place-items: center;
  -webkit-mask: url(../assets/img/bg-circuito.svg);
  mask: url(../assets/img/bg-circuito.svg);
}

.about-me__circuit-mask:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid components.$dark-secondary-color;
  animation: onda 8s infinite;
  animation-delay: 1s;
}

.about-me__heading {
  text-align: center;
}

@keyframes onda {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(16);
  }
  100% {
    transform: scale(16);
  }
}